#thread{display:none!important}.network-header path{stroke-dasharray:5 9}.message-dot{display:none}.teacher-heading{position:absolute;left:210px;top:185px;width:1400px}.teacher-heading h2{margin-top:24px;font-size:52px}#teacher-incoming{top:515px}#teacher-composer{position:absolute;left:390px;top:520px;width:1140px;transform-origin:50% 50%}#teacher-response{top:495px}#teacher-talk{background:#f4f5ea}

.model-copy p{color:#596951}
